body
{
  font-family: 'Roboto', sans-serif;
  color: #373737;
}

#main {
  background-color: #EEEEEE;
  display: flex;
  justify-content:center;
  flex-direction: column;
}

#title {
  text-align: center;
  font-size: 500%;
  margin-bottom: 0;
  /* color: #4285F4; */
}

#img-caption {
  text-align: center;
  /* color: #DB4437; */
}
#Description {
  margin: auto;
  text-align: center;
}

#tribute-info {
  text-align: left;
  width: 40%;
  position:relative;
  left: 30%;
}

#tribute-link {
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  background-color: #0F9D58;
  color: white;
  padding: 15px;
  margin-bottom: 5%;
}

#image {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #CCCCCC;
  padding: 15px;
}
